extends ../_main_layout

block content
	p
		img(src = "/img/startup_next.png", style = "background:white; border:30px solid #fff").img-responsive.img-rounded.center-block

	p.btn-group.btn-group-justified
		a(href = "https://twitter.com/nextboulder").btn.btn-default
			i.fa.fa-twitter.fa-3x
		a(href = "http://www.startupnext.co/").btn.btn-default Startup Next
		a(href = "http://www.up.co/").btn.btn-default UP Global

	:markdown
		There's a wonderful, circituitous story of how I got involved as part of Startup Next. It's really a testament to the power of Boulder's entrepreneurial community. 

		Shortly after completing the Startup Essentials of Software Engineering course as a student, I began working in the Office of the CTO of Rally Software as Zach Nies' intern. At the time, Rally Software was hiring interns to participate in the Startup Summer program. I was too late to officially join the program, but I mentored and participated in a limited capacity (I was also finishing my thesis at the time). At the end of the summer, Eugene Wan (the Program Manager at Techstars Boulder) was looking for volunteers to help out at the Techstars Demo Day event. Afterwards, I let Eugene know to keep me in mind if he ever needed additional help with events.

		A little while later, UP Global (of Startup Weekend fame) reached out to Brad Feld, seeing if it was possible to run a pilot pre-acceleator program in Boulder. Brad asked if Eugene knew anybody, and Eugene offered me the chance to organize something called NEXT Boulder.

		Over the course of several weeks, I fundraised, recruited, and facilitated my way into running a 5-week pre-accelerator program, with guest lectures from Brad Feld, Nicole Glaros, Robert Reich and Zach Nies. 11 teams completed the program. 

		There was a significant amount of iteration during the 5-week program. Originally, entrepreneurs in the program were expected to complete homework outside of class, and watch recorded lectures while in class. This didn't work too well; the teams were bored in class, the mentors felt like they weren't being utilized, and each team was at a drastically different stage of their business, so a lot of the advice didn't apply to them. 

		The focus quickly shifted towards the mentors, and getting as much 1-on-1 time with them as possible. After a couple tries, we settled on this format for each class: first, 2-3 teams would get up and pitch their idea, having 5 minutes to do so. Then, the mentors would give feedback, Shark Tank-style. After the teams have pitched, a guest mentor usually would give a lecture for an hour, on whatever topic they liked: customer development, pitching, fundraising, anything. After the mentor lecture, there'd be mentor office hours, where mentors spread out and meet with teams 1-on-1, with whatever teams decided to stop by first.

		I'm happy to say that Startup Next looks very similar today! They've decided to keep the mentor-focused program, and have now expanded into dozens of cities and communities around the world. Plus, now that I've moved to Seattle (where UP Global is headquartered), I occasionally mentor at local events!
