p
	img(src = "/img/startup_next.png", style = "background:white; border:30px solid #fff").img-responsive.img-rounded.center-block

p.btn-group.btn-group-justified
	a(href = "https://twitter.com/nextboulder").btn.btn-default
		i.fa.fa-twitter.fa-3x
	a(href = "http://www.startupnext.co/").btn.btn-default Startup Next
	a(href = "http://www.up.co/").btn.btn-default UP Global
