extends ../_main_layout.jade

block content
	p
		img(src = "/img/orpheus.png").img-responsive.img-rounded.center-block

	h3 A digital DJ/jukebox for your restaurant/bar
	p.lead CSCI 4830 - Spring 2014 - Zach Nies - Prof. Rick Han

	p.btn-group.btn-group-justified
		a(href = "https://docs.google.com/presentation/d/1aFxL1YLNTyIYT4oA6EaRbSumxQ_ce5MOXTPSscjSLhM/edit?usp=sharing").btn.btn-default Pitch Deck

	:markdown
		The goal of the Startup Essentials for Software Engineering (Spring 2014) course was to have students gain real-world experience on what it's like to ideate products, reach product-market fit, and develop a successful business model. Taught by Zach Nies of Rally Software and CU's Professor Richard Han, I can confidently say that it was one of the best courses I ever took at CU.

		At the beginning of the course, I pitched an "personalized party playlist" idea; we could look at the guest list on your Facebook event, then use a combination of Facebook Page likes and connected social media profiles to generate a playlist specifically tailored to the guests at that party. It generated a lot of interest in the class, and I joined up with Aaron Davis and Kira Quan.

		After invalidating our customer segement (college-students are typically unwilling to drop a couple bucks on the party playlist for the evening), we began looking at a different type of customer: bars, restaurants, and community spaces. We began working with Peter Waters of T/aco, a boutique taqueria and tequileria in downtown Boulder. We found that businesses had far more of an incentive to play music that guests liked, and we set up beta demos in a number of local restaurants and bars.

		Unfortunately, Orpheus wasn't successful. While businesses were willing to pay for it, we found that the actual product was ineffective. Bad music at a venue can certainly break the atmosphere, but having great music (opposed to just **okay** music) doesn't necessarily make the party. We needed to finish our degrees, so Orpheus was shelved until a later time.



