p
	img(src = "/img/orpheus.png").img-responsive.img-rounded.center-block
	
p.lead Orpheus is a digital DJ/jukebox for your party, restaurant, bar, coffeeshop, or coworking space

// a(href = "https://docs.google.com/presentation/d/1aFxL1YLNTyIYT4oA6EaRbSumxQ_ce5MOXTPSscjSLhM/edit?usp=sharing") Pitch Deck
