extends ../_main_layout.jade

block content

	h1 Startup Essentials for Software Engineering
	p.lead CSCI 4830 - Spring 2014 - Zach Nies - Prof. Rick Han

	:markdown
		During my tenure at Rally Software, I had a chance to be a TA for Startup Essentials for Software Engineering, the class I took previously as a student. This time around, the class was held in [Spark Boulder](http://sparkboulder.com/), a student-run coworking space designed for student entrepreneurs.

		It was awesome. I was able to pass on all the learnings from the previous class, and give teams advice on how to go from being a student to working or founding a startup. I mentored over a dozen student teams, and it was great to see how high-caliber the Boulder student entrepreneurship scene is.
