extends ../../_main_layout

block content

	h1 Banana Cat's Maniac Mystery Mansion
	p.lead Global Game Jam - January 2015 - What do we do now?

	p
		img(src = "/img/bananacat_screen.png", alt = "Banana Cat's Maniac Mystery Mansion").img-responsive.img-rounded.text-center.center-block

	p.btn-group.btn-group-justified
		a(href = "/games/bananacat/play").btn.btn-default
			i.fa.fa-gamepad.fa-3x
		a(href = "https://github.com/kenhoff/bananacatmaniacmysterymansion").btn.btn-default
			i.fa.fa-github.fa-3x
		a(href = "http://globalgamejam.org/2015/games/banana-cats-maniac-mystery-mansion").btn.btn-default Global Game Jam page


	:markdown
		Yay Phaser and Firebase!

		Can you and 4 of your friends figure out how to escape Banana Cat's Maniac Mystery Mansion??

		Sounds and music by the exceedingly talented [Joshua Du Chene](https://twitter.com/JoshuaDuChene).
