h1 CSCI 4830
p.lead Video Game Design and Production - Fall 2012

:markdown
	[CSCI 4830](http://fragileearthstudios.com/introduction-to-video-game-design-and-production/) was offered Fall 2012, and taught by Julien Lynge of [Fragile Earth Studios](http://fragileearthstudios.com/). It focused on exploration of video game theory and design using [Unity](http://unity3d.com/).

	Our first project focused on Unity basics and was aimed at creating a "scavenger hunt" style game, where players had to find a series of objects while getting feedback of some kind, like a health bar or a progress report indicating how many objects they had collected. Here's the [full list of games](http://fragileearthstudios.com/2012/11/05/student-games-round-1-2/).

p: img(src = "/img/robot_mayhem_screen.PNG").img-responsive.img-rounded.center-block

p.btn-group.btn-group-justified
	a(href = "/games/robot-mayhem-player").btn.btn-default.disabled
		i.fa.fa-gamepad.fa-3x

:markdown
	Our game, entitled "Robot Mayhem," put you in control of a spy robot tasked with sneaking past the evil lair's automated security systems. It includes lots of collision triggers, a detection level, lighting and particle systems, respawning, time tracking, and music from Mission Impossible and Team Fortress 2.

p: img(src = "/img/monster_truck_screen.PNG").img-responsive.img-rounded.center-block

p.btn-group.btn-group-justified
	a(href = "/games/monster-truck-player").btn.btn-default.disabled
		i.fa.fa-gamepad.fa-3x
	a.btn.btn-default.disabled
				i.fa.fa-github.fa-3x

:markdown
	Our second game, entitled "Monster Truck Mayhem" (It was a complete accident that I named them both "Mayhem") is a Tony Hawk-Monster Truck Rally mashup, where players get points for doing awesome tricks in their monster truck. I worked primarily on the physics and controls for the game; for simplicity, I've only included the bits that I've worked on in the web player, but the source code contains the entirety of the project, including the unfinished parts by my project partners.


