h1 Corpse Explosion
p.lead Ludum Dare 28 - December 2013 - You only get one

//image
p: img(src = "/img/corpseexplosion.png").img-responsive.img-rounded.center-block

//buttons
p.btn-group.btn-group-justified
	a(href = "/games/corpseexplosion/player").btn.btn-default
		i.fa.fa-gamepad.fa-3x
	a(href = "http://ludumdare.com/compo/ludum-dare-28/?action=preview&uid=20246").btn.btn-default Ludum Dare Page
	a(href = "https://github.com/kenhoff/ld28").btn.btn-default
		i.fa.fa-github.fa-3x
	a(href = "http://youtu.be/fcMPzgF6s6Y").btn.btn-default Timelapse
:markdown
	For this Ludum Dare, my goals were: 

	- make something interesting with a game engine that isn't Unity 
	- not stress out a lot / have fun making a game 

	...and I say that I've succeeded on both counts! I learned rudimentary [Flixel](http://flixel.org/) about a week before the compo started, and I've taken care of myself and got enough sleep during the compo. 

	I was really, really hoping that the theme would be "Death is Useful" - I've wanted to make a game around the [corpse explosion](http://diablo.wikia.com/wiki/Corpse_Explosion) mechanic for a while now. When I drew a (mostly) blank on "You Only Get One," I went with the "You Only Get One Button" idea, and figured I could work it into a game I was really excited about. 

	Corpse Explosion is exactly what you think it is; kill bad guys, and blow up the bad guys' bodies to kill more bad guys. It's got a necromancer, magic missiles, and wonderful corpse-popping meat-squishing giblet-slapping sound effects. 
