a, a:hover{
	color: #3498db
}


a.list-group-item.active > .badge,
.nav-pills > .active > a > .badge {
    color: #3498db;
    background-color: #ffffff;
}


.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #ffffff;
  background-color: #3498db;
}

