#flexbox
	display flex
	flex-wrap wrap
	justify-content center

.flexbox-child
	height 200px
	width 200px
	display flex
	&:hover
		filter grayscale(100%) brightness(80%)

.flexbox-child-text
	color white
	margin auto
	text-align center
	display none
