extends ../../_main_layout

block content

	h1 Asteroids

	p
		img(src = "/img/asteroids_screen.png", alt = "spaaaaaaaaaaaaaaaace").img-responsive.img-rounded.center-block

	p.btn-group.btn-group-justified
		a(href = "https://github.com/kenhoff/asteroids").btn.btn-default
			i.fa.fa-github.fa-3x

	:markdown
		My first experience with writing video games from scratch was an attempt at [Asteroids](http://www.freeasteroids.org/). It's written in C++ with [legacy OpenGL](http://www.opengl.org/wiki/Legacy_OpenGL) and [SFML](http://www.sfml-dev.org/). It's incomplete, but it has shooting, thrust, rotational inertia, and asteroids that break apart. There's no web player, but if you'd like to compile it yourself, you'll need OpenGL, SFML, and a Unix-based OS.
