extends ../../_main_layout

block content

	h1 Banana Cat's Violence
	p.lead 8-bit History Game Jam - April 2015 - Violence in Video Games

	p
		img(src = "/img/violence.PNG", alt = "Banana Cat's Violence").img-responsive.img-rounded.text-center.center-block

	p.btn-group.btn-group-justified
		a(href = "/games/violence/play").btn.btn-default
			i.fa.fa-gamepad.fa-3x
		a(href = "https://github.com/kenhoff/8bitjam").btn.btn-default
			i.fa.fa-github.fa-3x


	:markdown
		The [8-bit History](http://www.8bithistory.org/) Game Jam wanted "short, simple 8-bit style games that address contemporary social issues."

		I decided to make a game about something that I've felt a lot of passion about since I was a kid; violence in video games.

		Originally, I had designed this big, complicated game that felt a little like [Hotline Miami](http://www.hotlinemiami.com/), but then I realized that I was just making a less flashy version of Hotline Miami, and decided to scope waaaaaaay down.

		I'm pretty happy with the result. Even with it being a tremendously stripped down game, it's kind of pretty and elegant. 

		Music by the exceedingly talented [Joshua Du Chene](https://twitter.com/JoshuaDuChene).
