h1 The Facility
p.lead Global Game Jam 2014 - January 2014 - "We don't see things as they are, we see them as we are."

//image
p: img(src = "/img/thefacility.png").img-responsive.img-rounded.center-block

//buttons
p.btn-group.btn-group-justified
	a(href = "https://github.com/kenhoff/GGJ14").btn.btn-default
		i.fa.fa-github.fa-3x
	a(href = "https://www.youtube.com/watch?v=dzOXV4v8sy4").btn.btn-default
		i.fa.fa-youtube.fa-3x
	a(href = "http://kacydoodles.tumblr.com/").btn.btn-default
		i.fa.fa-paint-brush.fa-3x
			
:markdown
	The 2014 [Global Game Jam](http://globalgamejam.org/) was one of the most interesting experiences I've had making a game. I had a lot of trouble coming up with an idea for the theme, **"We don't see things as they are, we see them as we are."** I settled on a top-down escape-the-mental-hospital game, where the player's imaginary demons would be more prominent as their sanity decreased (like [Don't Starve](http://www.dontstarvegame.com/) or [Amnesia](http://www.amnesiagame.com/)).

	I originally planned to work solo during this event, but I was fortunate to have some really talented people that helped me out. [Kacy Corlett](http://kacydoodles.tumblr.com/) is responsible for all the art, and was absolutely amazing to work with!

	Unfortunately there isn't a playable version due to some interesting controller issues, but there's a [YouTube](https://www.youtube.com/watch?v=dzOXV4v8sy4) video of me playing the game. Turn up the volume!


//talk about sound
//talk about music

