html
	head
		link(href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/cyborg/bootstrap.min.css", rel="stylesheet")
		link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css", rel="stylesheet")	
		link(href = "/css/main.css", rel = "stylesheet")
		title Ken Hoff
		script(src = "//code.jquery.com/jquery-1.11.0.min.js")
		script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js")

		// google analytics	
		script(type = "text/javascript").
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create','UA-53737994-2','auto');
			ga('send','pageview');
		
		base(target = "_blank")
		meta(name = "viewport", content = "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")

	body
		.container
			.page-header(style = "display: flex; justify-content: space-between; align-items: center; flex-wrap: wrap")
				a(href = "/", target = "_self"): h1 Ken Hoff
				.icons
					a(href = "mailto:thekenhoff@gmail.com"): i.fa.fa-envelope-square.fa-5x
					a(href = "https://www.facebook.com/ken.hoff"): i.fa.fa-facebook-square.fa-5x
					a(href = "https://twitter.com/ken_hoff"): i.fa.fa-twitter-square.fa-5x
					a(href = "https://www.linkedin.com/in/thekenhoff"): i.fa.fa-linkedin-square.fa-5x
					a(href = "https://github.com/kenhoff"): i.fa.fa-github-square.fa-5x
			ul.nav.nav-pills
				li(class = "#{ current.path[0] == 'startups' ? 'active' : '' }"): a(href = "/startups", target = "_self") Startups
				li(class = "#{ current.path[0] == 'games' ? 'active' : '' }"): a(href = "/games", target = "_self") Games
			block content
