extends _main_layout.jade

block content
	p Hi there! I'm Ken.

	p Mechanics, dynamics, and aesthetics:

	:markdown
		- [brutalism](http://fuckyeahbrutalism.tumblr.com/)
		- [vim](https://twitter.com/iamdevloper/status/582554559446413312)
		- [chaos muppets](http://www.slate.com/articles/life/low_concept/2012/06/what_kind_of_muppet_are_you_chaos_or_order_.html)
		- [lovecraft](http://en.wikipedia.org/wiki/Lovecraftian_horror)
		- [game jams](http://supergamejam.com/)
		- [harp](http://harpjs.com/)
		- [node](https://nodejs.org/)
		- [github](https://github.com/)
		- [~~angular~~](https://angularjs.org/) well shit, I guess it's [react](https://facebook.github.io/react/) now
		- [bob](http://skookum.com/resources/solve-for-bob.pdf)

