html
    head
        title Ken Hoff
        base(target = "_blank")
    body
        h1 Ken Hoff
        img(src = "/img/profile_image_low_quality.jpg", width = "250px")
        h2
            a(href = "mailto:thekenhoff@gmail.com") thekenhoff@gmail.com 
            |
            a(href = "https://www.facebook.com/ken.hoff")  Facebook 
            |
            a(href = "https://twitter.com/ken_hoff")  Twitter 
            |
            a(href = "https://www.linkedin.com/in/thekenhoff")  LinkedIn 
            |
            a(href = "https://github.com/kenhoff")  GitHub 
            |
            a(href = "/pdf/Ken_Hoff_Resume.pdf")  Resume 
            |
            a(href = "/thesis")  Thesis 
        p Hi! I'm Ken. I'm a student at the University of Colorado at Boulder, graduating December 2013 with a BS in Computer Science (emphasis in Human-Centered Computing) and a minor in Philosophy. I'm pretty good at emergent game design, Lean Startup methodology, and software development.