html
	head
		link(href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/cyborg/bootstrap.min.css", rel="stylesheet")	
		link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css", rel="stylesheet")	
		title Ken Hoff
		base(target = "_blank")

		script(type = "text/javascript")
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create','UA-53737994-2','auto');
			ga('send','pageview');



	body
		.container
			.jumbotron
				h1 Ken Hoff
				a(href = "mailto:thekenhoff@gmail.com"): i.fa.fa-envelope-square.fa-5x
				a(href = "https://www.facebook.com/ken.hoff"): i.fa.fa-facebook-square.fa-5x
				a(href = "https://twitter.com/ken_hoff"): i.fa.fa-twitter-square.fa-5x
				a(href = "https://www.linkedin.com/in/thekenhoff"): i.fa.fa-linkedin-square.fa-5x
				a(href = "https://github.com/kenhoff"): i.fa.fa-github-square.fa-5x
				//i.fa.fa-gamepad.fa-5x.fa-border



		//img(src = "/img/profile_image_low_quality.jpg", width = "250px")
	//
		h2
			a(href = "mailto:thekenhoff@gmail.com") thekenhoff@gmail.com 
			|
			a(href = "https://www.facebook.com/ken.hoff")  Facebook 
			|
			a(href = "https://twitter.com/ken_hoff")  Twitter 
			|
			a(href = "https://www.linkedin.com/in/thekenhoff")  LinkedIn 
			|
			a(href = "https://github.com/kenhoff")  GitHub 
			|
			a(href = "/pdf/Ken_Hoff_Resume.pdf")  Resume 
			|
			a(href = "/thesis")  Thesis 
		p Hi! I'm Ken. I'm a student at the University of Colorado at Boulder, graduating December 2013 with a BS in Computer Science (emphasis in Human-Centered Computing) and a minor in Philosophy. I'm pretty good at emergent game design, Lean Startup methodology, and software development.
