h1 Damn Sharks
p.lead Ludum Dare 29 - April 2014 - Beneath the surface

//image
p: img(src = "/img/damnsharks.png").img-responsive.img-rounded.center-block

//bttons
p.btn-group.btn-group-justified
	a(href = "/games/damnsharks/player").btn.btn-default
		i.fa.fa-gamepad.fa-3x
	a(href = "https://github.com/kenhoff/LD29").btn.btn-default
		i.fa.fa-github.fa-3x

:markdown
	Bubbles! Parallax! Submarines! Torpedoes! Sharks!

	Right click to move! Left click to shoot!

	Created with Unity3D, for the 29th Ludum Dare. The theme was **Beneath the Surface**. All art assets were created by me!

	There is no sound :(
