h1 Asteroids

img(src = "/img/asteroids_screen.png", alt = "spaaaaaaaaaaaaaaaace").img-responsive.img-rounded

:markdown
	My first experience with writing video games from scratch was an attempt at [Asteroids](http://www.freeasteroids.org/). It's written in C++ with [legacy OpenGL](http://www.opengl.org/wiki/Legacy_OpenGL) and [SFML](http://www.sfml-dev.org/). It's incomplete, but it has shooting, thrust, rotational inertia, and asteroids that break apart. The source code is available (coming soon), but it requires OpenGL and SFML, and only runs on Mac OS or Linux.
