h1 Damn Sharks
p.lead Ludum Dare 29 - April 2014 - Beneath the surface

//image

//bttons
p.btn-group.btn-group-justified
	a(href = "").btn.btn-default.disabled
		i.fa.fa-gamepad.fa-3x
	a(href = "https://github.com/kenhoff/LD29").btn.btn-default
		i.fa.fa-github.fa-3x

:markdown
