h1 Gish Mechanics

img(src = "/img/gish_screen.PNG").img-responsive.img-rounded.center-block

p.btn-group.btn-group-justified
	a(href = "/games/gish-player").btn.btn-default.disabled
		i.fa.fa-gamepad.fa-3x
	a(href = "").btn.btn-default.disabled
		i.fa.fa-github.fa-3x

:markdown
	[Gish](http://www.chroniclogic.com/gish.htm) is a 2D, side scrolling platformer made in 2005. The [source code](http://crypticsea.blogspot.com/2010/05/gish-open-source.html) was made available in 2010. I was interested in replicating the unique mechanics it used in a slightly more efficient and accessible format, so I created a tiny simulation of the player's character using WebGL. It's written entirely from scratch, using only Javascript, [WebGL](http://www.khronos.org/webgl/), and a glMatrix utility, without any physics libraries or game making software.
