h1 Jetpack Joe and the Tiny Worlds
p.lead Ludum Dare 23

p: img(src = "/img/ld23.png", alt = "go go jetpack joe!").img-responsive.img-rounded

p.text-center
	a(href = "https://github.com/larsendt/tiny-world-jetpack-edition").btn.btn-link: i.fa.fa-github.fa-4x 

:markdown
	[Ludum Dare](http://www.ludumdare.com/compo/) is a 48-hour game development competition (or a 72-hour game development "jam"). The 23rd annual competition's theme, "Tiny Worlds," was open to any interpretation that the creators desired. My team (which consisted of myself, [TJ](http://www.yakuprising.net/teej), and [Dane](https://larsendt.com/)) participated in the game jam event and developed "Jetpack Joe and the Tiny Worlds," a top-down 2D space game. The player attempts to get to the finish line by using orbital dynamics and a jetpack to slingshot themselves around planets, while avoiding colliding with any of them.

p.embed-responsive.embed-responsive-16by9
	iframe(src="//www.youtube.com/embed/kHdEPm_U5RY?rel=0&amp;controls=0&amp;showinfo=0" allowfullscreen).embed-responive-item

:markdown
	We used C++ with a combination of [legacy OpenGL](http://www.opengl.org/wiki/Legacy_OpenGL) and [SFML](http://www.sfml-dev.org/), with a simple text-based level parser. I was responsible for music, some game design, and cooking. We all learned a lot; mostly that we have no idea how to compile for windows, so it only runs on linux with OpenGL and SFML installed. You can check out the [tumblr](http://ludumdurr.tumblr.com/) that we updated during the event, but be warned - it gets a little crazy near the end, due to lack of sleep.
