h1 Snape
p.lead Ludum Dare 26 - April 2013

img(src = "/img/snape_screen.PNG").img-responsive.img-rounded

p.text-center
	.btn-group.btn-group-justified
		a(href = "/games/snape-player").btn.btn-default: .fa.fa-gamepad.fa-3x
		a(href = "http://www.ludumdare.com/compo/ludum-dare-26/?action=preview&uid=20246").btn.btn-default Ludum Dare Page
		a(href = "https://github.com/kenhoff/LD26").btn.btn-default: .fa.fa-github.fa-3x
		a(href = "http://youtu.be/7jG96mzYTkc").btn.btn-default Timelapse

:markdown
	Snape was a Unity game made for [Ludum Dare 26](http://www.ludumdare.com/), a 48-hour game development competition. This event's theme was **Minimalism**. Working alone, I designed, developed, and playtested a simple game involving rolling balls knocking into each other. This is the first game jam where I can confidently say that I'm very happy with the finished product; I didn't run into any major snags in the development process, everyone who I playtested with appeared to have a lot of fun. My roommate even continued to play it after the competition was over!

	I'm definitely going to continue development of this game. The largest recommendation I've gotten from everyone is to add multiplayer, so I think I'm going to try to turn it into a casual, local multiplayer, "Mario Party" style game for entertainment centers (think [Big Picture](http://store.steampowered.com/bigpicture/)!). In the meantime though, the game is still being voted on at Ludum Dare, so rate it [here](http://www.ludumdare.com/compo/ludum-dare-26/?action=preview&uid=20246)!

	Also, check out [TJ](http://www.ludumdare.com/compo/ludum-dare-26/?action=preview&uid=11948) and [Dane](http://www.ludumdare.com/compo/ludum-dare-26/?action=preview&uid=11107)'s games!
