// title

section(data-background = "/img/grandcanyon.jpg")
	h1 Fireside Chat + Fun with Phaser
	h3 Ken Hoff
	h5 Coding Dojo, 2015.04.30

// about me

section(data-background = "/img/grandcanyon.jpg")
	h3 about me!
	ul
		li Originally from Boulder, Colorado
		li 4 internships in Startupland
		li Graduated Dec 2103 from CU Boulder, Computer Science
		li Started at Microsoft in July 2014

// what i do at microsoft

section
	section
		h3 what I do at microsoft
	section(data-background = "/img/bobs.png")
		// on being a PM
		h3 on being a PM
		ul
			li "Program Manager" at MSFT
			li usually "Product Owner" at other places
		blockquote "Well-well look. I already told you: I deal with the god damn customers so the engineers don't have to. I have people skills; I am good at dealing with people. Can't you understand that? What the hell is wrong with you people?"

		// on working at Azure Active Directory
	section
		h3 on Azure Active Directory
		ul
			li Basically Active Directory, but in <i>the Cloud </i>(tm)
			li ...plus SSO into SaaS apps, group management, and (my job) security and activity reports
			li First task at MSFT: set up and man the Azure Active Directory booth at the internal product fair 
	
	section
		h3 why work at microsoft (or any large company)?
		p because you learn to work <b>hard</b>.
	section
		h3 3 rules to live by
		ul
			.fragment
				li: b produce
				ul
					li Not like a movie or game producer - literally be creating shit
					li "Always produce" - <a href = "http://www.paulgraham.com/love.html">paulgraham.com/love.html</a>
			.fragment
				li: b scale
				ul
					li not just your code/infrastructure
					li scale your time - write the docs, tutorials, sales/mktg materials
			.fragment
				li: b be nice
				ul
					li no matter how talented someone is, there's no room for assholes
					li catch more flies with honey than vinegar

// what i do outside of microsoft

section
	section
		h3 what I do outside of microsoft

	section(data-background = "/img/flags.jpg")
		h3 Field of Heroes
		img(src = "http://fieldofheroesweb.azurewebsites.net/qr/230863FE")
	section(data-background = "/img/flags.jpg")
		h3 whiteboard time




// games!

section
	section
		h3 games!
		h5 Fun with Phaser
	section
		h3 a quick intro to Phaser
		p: a(href = "http://phaser.io/") phaser.io
		p 2D HTML5 framework, javascript
		p more like Flash than Unity (inheritance vs component system)
	section
		p I came from Unity3D; wanted a code-only framework, no editor needed
		p Indie devs: you want an engine that encourages you to ship stuff (not get lost in super advanced features and making everything pretty)

	section(data-background = "http://kenhoff.net/img/asteroids2_screen.png")
		h3 start simple - asteroids
		p: a(href = "http://kenhoff.net/games/asteroids2/") kenhoff.net/games/asteroids2
		p Art: <a href = "http://kenney.itch.io/kenney-donation"> Kenney Game Asset Pack </a>
		p pew pew
	section
		h3 titan
		p: a(href = "http://kenhoff.net/games/titan/") kenhoff.net/games/titan
		img(src = "http://kenhoff.net/img/titan-screen.png")
		p: a(href = "https://www.firebase.com/") Firebase
	section()
		h3 banana cat's maniac mystery mansion
		p: a(href = "http://kenhoff.net/games/bananacat/") kenhoff.net/games/bananacat
		img(src = "http://kenhoff.net/img/bananacat_screen.png" style = "width: 35%")
		p: a(href = "https://www.firebase.com/") Also using Firebase

section
	h3 all done.
	h5 thanks!
	p: a(href = "http://kenhoff.net/talks/codingdojo") kenhoff.net/talks/codingdojo
	p: a(href = "http://lab.hakim.se/reveal-js") made with Reveal.js


// other stuff
// 	field of heroes
