h1 Asteroids 2.0
p.lead In preparation for Ludum Dare 31 - November 2014 - Just for fun 

p
	img(src = "/img/asteroids2_screen.png", alt = "spaaaaaaaaaaaaaaaace").img-responsive.img-rounded

p.btn-group.btn-group-justified
	a(href = "/games/asteroids2/play").btn.btn-default
		i.fa.fa-gamepad.fa-3x
	a(href = "https://github.com/kenhoff/asteroids2").btn.btn-default
		i.fa.fa-github.fa-3x

:markdown
	Remember how one of the first games I made was [Asteroids](/games/asteroids)? Well I was in the market for a new engine, and I knew that remaking Asteroids would be one of the fastest ways for me to learn a lot.

	I ended up using a framework called [Phaser](http://phaser.io/), which is a 2D HTML5 framework; a bit of a far cry from the powerful [Unity](http://unity3d.com/) that I was used to. I was really looking for something cross-platform, that was primarily code based (no required IDE), and that used traditional inheritance models for game development (none of the component-based architecture from Unity).

	Asteroids 2.0 was slapped together in about 8 hours, starting from no prior Phaser experience. The art is from the [Kenney Donation Pack](http://kenney.itch.io/kenney-donation), and the sound effects are from [Bfxr](http://www.bfxr.net/).
